<!DOCTYPE HTML>
<!--
    DEFAULT BASE LAYOUT
    Things that are constant around all the other pages we keep here
    Things that are different we store elsewhere 
-->
<html>
	<head>
		<title>{{page.title}}</title>
		<link rel="shortcut icon" type="image/jpg" href="/images/favicon2.ico"/>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href= "{{page.css}}"/>
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	</head>

	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<div id="header_container">
							<div id="header_container2">
							<!-- Logo -->
								<a href="/index.html" class="logo">
									<span class="symbol"><!--img src="images/logo.svg" alt="" /--></span><span class="title">Vinh Tran</span>
								</a>
							
							<h1>
								<!-- Past and Current Work -->
								{{page.header}}
							</h1>
							</div>
							<div class="profile_pic">
								<img src="/images/profile_pic.JPG">
							</div>
								

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>


							</div> 
						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="blog_test.html">Blog</a></li>
							<li><a href="blog_test.html">Teaching</a></li>
							<li><a href="cv.html">CV</a></li>
						</ul>
						<br> 
						<br> 
						<br> 
						<h4>
							About Me 
						</h4>
						<p>
							Hi! I'm Vinh. I'm currently a graduate student studying physics. My interests include: astrophysics, condensed matter and material science. I like learning new things each day!
						</p>
					</nav>

				{{ content }}

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="mailto:vinh.c.tran42@gmail.com">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2><p> (I mean if you want to) </p>
								<ul class="icons">
									<li><a href="https://www.github.com/vinh-c-tran" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="tel:310-000-0000" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="vinh.c.tran42@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>